*{
    margin: 0;
    padding: 0;
    
}
.firstbutton{
    margin-left: 45%;
    margin-top: 6%;
}
.icons{
    margin-top: 5%;
    position: relative;
    top: 4px;
    right: 1px;
}
#connectmain{
    margin-top: 6%;
}
